@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Rajdhani&display=swap');
/*------------------------------------Navbar------------------------------------*/

.navbar-custom {
 height: 50px;
 background-color: #fad1d9;
}

.nav-logo {
 height: 40px;
 width: 70px;
}

.navbar-nav {
 font-family: "Rajdhani", sans-serif;
 font-size: 25px;
 color: #ffffff;
}

.intro {
 padding-top: 15px;
 padding-left: 250px;
 font-family: "Lora", sans-serif;
 color: #545454;
}

/*------------------------------------Body-Home------------------------------------*/
.logo-body {
 padding-left: 20px;
 padding-top: 20px;
 padding-bottom: 60px;
}

.hm-txt {
 padding-left: 60px;
 font-family: "Lora", sans-serif;
 color: #545454;
}

.hm-link {
 color: #545454;
}

.map {
 padding-left: 60px;
}

h1 {
 font-family: "Rajdhani", sans-serif;
 font-size: 40px;
 color: #fad1d9;
}

.about {
 padding-top: 100px;
 padding-bottom: 10px;
}

.body{
 font-family: "Lora", sans-serif;
 color: #545454;
}

.reviews {
 font-family: "Lora", sans-serif;
 color: #545454;
 padding-top: 100px;
 padding-bottom: 10px;
}

.reviews p {
 padding-top: 10px;
}

/*------------------------------------Body-Menu------------------------------------*/

.menu {
 text-align: center;
 padding-top: 100px;
 padding-bottom: 10px;
}

h2 {
 font-family: "Rajdhani", sans-serif;
 color: #fad1d9;
 text-align: left;
 font-size: 20px;
}

.body-menu p {
 padding-left: 90px;
}

/*------------------------------------Body-Gallery------------------------------------*/

.gallery-head {
 text-align: center;
 padding-top: 50px;
 padding-bottom: 30px;
 padding-right: 200px;
}
.carousel-container {
 width: 300px;
 height: 300px;
}

.fa-logo {
 color: #fad1d9;
 padding-top: 200px;
}

.insta-p {
 font-family: "Lora", sans-serif;
 color: #545454;
 padding-top: 195px;
 padding-left: 10px;
}

.fa-laptop {
 color: #fad1d9;
}

.contact-p {
 font-family: "Lora", sans-serif;
 color: #545454;
 padding-left: 8px;
}

/*------------------------------------Footer------------------------------------*/

.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 50px;
 background-color: #fad1d9;
}

.copyright {
 margin-top: 15px;
 color: #ffffff;
 text-align: left;
 padding-left: 0px;
 font-family: "Rajdhani", sans-serif;
}

.social-links {
 display: inline;
 margin-right: 15px;
}

.fa-footer { 
 margin-top: 15px;
 color: #ffffff;
}